################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Homework/v16
/.vs
/CS260/assn1/.vs/assn1/v16
/CS260/assn1/Debug
/CS300/Assn1/CS300/.vs/CS300/v16
/CS300/Assn1/CS300/Common/build_files
/CS300/Assn1/CS300/Common/glfw/x32/docs/html
/CS300/Assn1/CS300/Common/glfw/x64/docs/html
/CS300/Assn1/CS300/Common/glm/doc
/CS300/Assn1/CS300/Debug
/CS300/Assn1/CS300/Release
/CS300/Assn1/CS300/Source/.idea
/CS300/Assn1/CS300/Source/out/build/x64-Debug/.cmake/api/v1/query/client-MicrosoftVS
/CS300/Assn1/CS300/Source/out/build/x64-Debug/CMakeFiles
/CS300/Assn1/CS300/Source/out/build/x64-Debug/VSInheritEnvironments.txt
/CS300/Assn1/CS300/Source/out/build/x64-Debug/CMakeCache.txt
/CS300/Assn1/CS300/x64/Debug
*.cmake
*.log
*.txt
*.ninja
*.bin
/CS300/Assn1/CS300/Common/glm/out/build/x64-Debug/CMakeFiles/feature_tests.cxx
/CS300/Assn1/CS300/Common/glm/out/build/x64-Debug/CMakeFiles/feature_tests.c
*.check_cache
/CS300/Assn1/CS300/Common/glm/out/build/x64-Debug/CMakeFiles/ShowIncludes
/CS300/Assn1/CS300/Common/glm/out/build/x64-Debug/CMakeFiles/3.14.19060802-MSVC_2/CompilerIdC
/CS300/Assn1/CS300/Common/glm/out/build/x64-Debug/CMakeFiles/3.14.19060802-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.obj
/CS300/Assn1/CS300/Common/glm/out/build/x64-Debug/CMakeFiles/3.14.19060802-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.exe
/CS300/Assn1/CS300/Common/glm/out/build/x64-Debug/CMakeFiles/3.14.19060802-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/CS260/assn1/Release/assn1.tlog
/CS260/assn1/Release/vc142.pdb
/CS260/assn1/Release/CS260_Cody_Morgan_assn1.obj
/CS260/assn1/Release/assn1.pdb
/CS260/assn1/Release/assn1.ipdb
/CS260/assn1/Release/assn1.iobj
/CS260/assn1/Release/assn1.exe
/CS260
/CS300/Assn1/CS350_cody.morgan_1
/CS261/Assn1/.vscode
/CS261/Assn1/node_modules
/CS330/lexical_permutation-files/Assn1/Debug
/CS330/lexical_permutation-files/Assn1/.vs/Assn1/v16
*.exe
/CS261/Assn2/CS261_Assignment2_Initial/RoboCatAction/.vs/RoboCat/v16
/CS261/Assn2/CS261_Assignment2_Initial/RoboCatAction/Debug
/CS261/Assn2/CS261_Assignment2_Initial/RoboCatAction/Release
/CS261/Assn2/CS261_Assignment2_Initial/RoboCatAction/RoboCatClient/Debug
/CS261/Assn2/CS261_Assignment2_Initial/RoboCatAction/RoboCatClient/Release
/CS261/Assn2/CS261_Assignment2_Initial/RoboCatAction/RoboCatServer/Debug
/CS261/Assn2/CS261_Assignment2_Initial/RoboCatAction/RoboCatServer/Release
*.o
/CS261/Assn2/Node/node_modules
/CS261/Assn2/RoboCatAction/packages/cpprestsdk.v141.2.10.12.1
*.ipch
*.db
/CS261/Assn2/RoboCatAction/.vs/RoboCat/v16
/CS261/Assn2/RoboCatAction/Debug
/CS261/Assn2/RoboCatAction/Release
/CS261/Assn2/RoboCatAction/RoboCat/Bin/Debug
*.tlog
*.obj
/CS261/Assn2/RoboCatAction/RoboCat/Debug
/CS261/Assn2/RoboCatAction/RoboCat/Release
/CS261/Assn2/RoboCatAction/RoboCatClient/Debug
/CS261/Assn2/RoboCatAction/RoboCatClient/Release
/CS261/Assn2/RoboCatAction/RoboCatServer/Debug
/CS261/Assn2/RoboCatAction/RoboCatServer/Release
/CS300/Assn1/CS350/.vs
*.md
*.ini
/CS261/Assn3/Node/node_modules/content-type/LICENSE
/CS261/Assn3/RoboCatAction/.vs/RoboCat/v16
/CS261/Assn3/RoboCatAction/Debug
/CS261/Assn3/RoboCatAction/packages/cpprestsdk.v141.2.10.12.1
/CS261/Assn3/RoboCatAction/Release
/CS261/Assn3/RoboCatAction/RoboCat/Bin/Debug
/CS261/Assn3/RoboCatAction/RoboCat/Debug
/CS261/Assn3/RoboCatAction/RoboCat/Release
/CS261/Assn3/RoboCatAction/RoboCat/x64/Debug
/CS261/Assn3/RoboCatAction/RoboCatClient/Debug
/CS261/Assn3/RoboCatAction/RoboCatClient/Release
/CS261/Assn3/RoboCatAction/RoboCatServer/Debug
/CS261/Assn3/RoboCatAction/RoboCatServer/Release
/CS330/lexical_permutation-files/Assn1/x64/Debug
/CS261/Assn4/Node/node_modules
/CS261/Assn4/node_modules
/CS261/Assn4/RoboCatAction
/CS261/Assn5/Node/node_modules
/CS261/Assn5/RoboCatAction/.vs/RoboCat/v16
/CS261/Assn5/RoboCatAction/Debug
/CS261/Assn5/RoboCatAction/packages/cpprestsdk.v141.2.10.12.1
/CS261/Assn5/RoboCatAction/Profile
/CS261/Assn5/RoboCatAction/Release
/CS261/Assn5/RoboCatAction/RoboCat/Debug
/CS261/Assn5/RoboCatAction/RoboCat/Profile
/CS261/Assn5/RoboCatAction/RoboCat/Bin/Debug
/CS261/Assn5/RoboCatAction/RoboCatClient/Debug
/CS261/Assn5/RoboCatAction/RoboCatClient/Release
/CS261/Assn5/RoboCatAction/RoboCatServer/Debug
/SoT_IslandMapper/.vs/SoT_IslandMapper/v16
/SoT_IslandMapper/CImg-2.9.1_pre042420/examples
/SoT_IslandMapper/Maps/Diffs
/SoT_IslandMapper/Maps/out
/IslandMapper/IslandMapper/.vs/IslandMapper/v16
/IslandMapper/IslandMapper/Debug
/IslandMapper/IslandMapper/Maps/Diffs
/IslandMapper/IslandMapper/Maps/out
/Archive/2019.02/CS300/Assn1/CS300/.vs/CS300/v16
/CS460/CS460_project/.vs/CS460_project/v16
/CS460/CS460_project/Debug
/IslandMapper/IslandMapper/Release/vc142.pdb
/IslandMapper/IslandMapper/Release/IslandMapper.pdb
/IslandMapper/IslandMapper/Release/IslandMapper.ipdb
/IslandMapper/IslandMapper/Release/IslandMapper.iobj
/Archive/2019.02/CS300/Assn1/CS300/Debug
*.mtl
/MAT361/largePrimeFactorization/.vs/largePrimeFactorization/v16
/MAT361/largePrimeFactorization/Debug
/MAT361/largePrimeFactorization/enc_temp_folder/fe82e1a854a98da54a8f880f606366
*.user
/2021.01/CS500/.vs/CS500/v16/Browse.VC.opendb
/2021.01/CS500/.vs/CS500/v16/Browse.VC.db-wal
/2021.01/CS500/.vs/CS500/v16/Browse.VC.db-shm
/2021.01/CS500/.vs/raytrace/v16/Browse.VC.opendb
/2021.01/CS500/.vs/raytrace/v16/Browse.VC.db-wal
/2021.01/CS500/.vs/raytrace/v16/Browse.VC.db-shm
*.dll
*.recipe
*.pdb
/2021.01/CS500/.vs/raytrace/v16/.suo
/2021.01/CS500/.vs/CS500/v16/.suo
/DX11_framework/dx11/.vs/dx11/v16/.suo
/2021.01/CS500/x64/Debug/vc142.idb
/2021.01/CS500/Release/raytrace.ipdb
/2021.01/CS500/Release/raytrace.iobj
/2021.01/CS500/Debug/vc142.idb
*.hdr
