# Format Style Options - Created with Clang Power Tools
---
Language: Cpp
BasedOnStyle: Microsoft
AllowAllParametersOfDeclarationOnNextLine: false
BinPackArguments: false
BinPackParameters: false
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
IndentWidth: 2
TabWidth: 2
...
